body{
  background-color: lightgrey;
  width: 100%;
}
.row {
  width: 101%;
  text-align: center;
}
.classNav{
  background-color: lightgrey;
}

.container{
	background-color: white;
}

.navbar{
	margin: 20px;
}

.icon {
  margin: 0 auto;
  margin-bottom: 20px;
  color: rgba(0,0,0,.7);
}
.iconHome{
  margin: 0 auto;
  margin-bottom: 20px;
  color: rgba(0,0,0,0.7);
}
.egg {
  margin: 0 auto;
  display: block;
}
