body{
  background-color: lightgrey;
  width: 100%;
}
a {
  color: rgb(39, 38, 39);
}
.row {
  width: 101%;
  text-align: center;
}
.classNav{
  background-color: lightgrey;
}

.classNav:hover{
  background: #696969;
  color: white;
}

.container{
	background-color: white;
}
.navbar{
	margin: 20px;
}
.icon {
  margin: 0 auto;
  margin-bottom: 20px;
  color: rgba(0,0,0,.7);
}
.iconHome{
  margin: 0 auto;
  margin-bottom: 20px;
  color: rgba(0,0,0,0.7);
}
.egg {
  margin: 0 auto;
  display: block;
}
.fa-thumbs-o-up {
  font-size: 30px;
}
.likes {
  font-size: 20px;
  padding-right: 10px;
}
.siteBtn {
  color: white;
  background-color: rgb(233,46,56);
  margin-bottom: 10px;
}
.siteBtn:hover {
  color: rgb(245,245,245);
  background-color: #696969;
}
a:hover {
  text-decoration: none;
}
.authDate {
  margin-top: 20px;
}
.noteButtons {
  padding-top: 10px;
  padding-bottom: 10px;
}