<div class="container">
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<h1>Welcome to <a href="/easterEgg">CleverNote</a></h1>
			<hr>
			<h3>A crowdsource note taking site for <a href="https://generalassemb.ly/" class="text-danger">GA</a> students</h3>
			<p>Missed a class? Can't understand your own notes? You've come to the right
			place! Check out and share notes to help you better understand class
			topics.</p>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<a class="btn btn-danger" href="/signup">Sign Up!</a>
			<a class="btn btn-primary" href="/login">Log In</a>
		</div>
	</div>
  <br>
</div>