<div class="container">
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<h1>Welcome to CleverNote</h1>
			<hr>
			<h3>A crowdsource note taking site for <a href="https://generalassemb.ly/" class="text-danger">GA</a> students</h3>
			<p>Missed a class? Can't understand your own notes? You've come to the right
			place! Check out and share notes to help you better understand class
			topics.</p>
			<hr>
		</div>
			<img class="pull-right" src="/img/man.png">
	</div>

	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<a class="btn btn-danger" ng-hide="isLoggedIn()" href="/signup">Sign Up!</a>
			<a class="btn btn-primary" ng-hide="isLoggedIn()" href="/login">Log In</a>
		</div>
	</div>
  	<br>
</div>
<br>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1 class="text-center">Search By Class</h1>
			<hr>
		</div>
		<div class="col-xs-2 col-xs-offset-2 text-center well">
			<a href="/WDI" class="btn btn-large">WDI</a>
		</div>
		<div class="col-xs-2 col-xs-offset-1 text-center well">
			<a href="/UXDI" class="btn btn-large">UXDI</a>
		</div>
		<div class="col-xs-2 col-xs-offset-1 text-center well">
			<a href="/DSI" class="btn btn-large">DSI</a>
		</div>
	</div>
</div>