<div class="container">
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<h1>Welcome to <a href="/SURPRISE" style="color:black">CleverNote</a></h1>
			<hr>
			<h3>A crowdsource note taking site for <a href="https://generalassemb.ly/" class="text-danger">GA</a> students</h3>
			<p>Missed a class? Can't understand your own notes? You've come to the right
			place! Check out and share notes to help you better understand class
			topics.</p>
			<hr>
		</div>
			<img class="pull-right" src="/img/man.png">
	</div>

	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<a class="btn btn-danger" ng-hide="isLoggedIn()" href="/signup">Sign Up!</a>
			<a class="btn btn-primary" ng-hide="isLoggedIn()" href="/login">Log In</a>
		</div>
	</div>
  	<br>
</div>
<br>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1 class="text-center">Find Notes By Class</h1>
			<hr>
		</div>
		<div class="col-xs-2 col-xs-offset-1  text-center ">
			<a href="/WDI"><img class="iconHome" src="/img/WDI.png"></a>
		</div>
		<div class="col-xs-2 text-center ">
			<a href="/UXDI"><img class="iconHome" src="/img/UXDI.png"></a>
		</div>
		<div class="col-xs-2 text-center ">
			<a href="/iOSDI"><img class="iconHome" src="/img/IOSDI.png"></a>
		</div>
		<div class="col-xs-2 text-center ">
			<a href="/DSI"><img class="iconHome" src="/img/DSI.png"></a>
		</div>
		<div class="col-xs-2 text-center ">
			<a href="/ADI"><img class="iconHome" src="/img/ADI.png"></a>
		</div>
	</div>
</div>