<div class='container'>
  <!--  Use this for update link -->
  <div class="text-center">
    <h1>{{note.noteTitle}}</h1>
    <xmp theme="united">{{ note.noteBody }}
    </xmp>

<script src="http://strapdownjs.com/v/0.2/strapdown.js"></script>
    </xmp>
    <p class="authDate"><strong>Noted</strong> {{note.noteDate | date}} <strong>Courtesy of:</strong> {{ note.noteAuthor }}</p>
    <br>
    <br>
    <div class="noteButtons">
      <a class="btn siteBtn btn-sm" ng-href="/notes">View All Notes</a>
      <a ng-show="user.name == note.noteAuthor && user.roomName == note.roomName" class="btn siteBtn btn-sm" ng-href="/notes/{{note._id}}/edit"> Edit</a>
      <a ng-show="user.name == note.noteAuthor && user.roomName == note.roomName" class="btn siteBtn btn-sm" ng-click="deleteNote(note._id)">Delete</a>
    </div>
  </div>
</div>
