<div class="container">
  <br>
  <div class="containerClasses">
    <a href="/WDI" class="btn classNav">WDI</a>
    <a href="/UXDI" class="btn classNav">UXDI</a>
    <a href="/iOSDI" class="btn classNav">iOSDI</a>
    <a href="/DSI" class="btn classNav">DSI</a>
    <a href="/ADI" class="btn classNav">ADI</a>
  </div>
  <hr>
  <div class="form-group input-group">
    <i class="input-group-addon glyphicon glyphicon-filter"></i>
    <input type="text" class="form-control" id="search" ng-model="search" placeholder="Filter All Notes">
  </div>
  <div class="well" ng-repeat="note in notes | filter: search track by note._id">
    <h1>{{note.noteTitle}}</h1>
    <h4 class="text-success" ng-if="!note.like">Likes: 0</h4>
    <h4 class="text-success" ng-if="note.like">Likes: {{note.like}}</h4>

    <a class="btn btn-info btn-sm" ng-href="/notes/{{note._id}}">View Note</a>
    <div class="pull-right">
        <i class="glyphicon glyphicon-thumbs-up text-success" ng-click="note.like = note.like + 1"></i>
    </div>

  </div>
</div>
