<div class="form col-xs-6 col-xs-offset-3 container">
  <br>
    <form ng-submit="userLogin()">
      <legend>Login</legend>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="test@test.com" ng-model="user.email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="********" ng-model="user.password">
      </div>

      <button type="submit" class="btn siteBtn">Login</button>
    </form>
    <p>Don't have an account? <a href="/signup">Sign Up!</a></p>
  <br>
</div>
