<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-sm-offset-2">
  
  <form ng-submit="userSignup()">
    <legend>Signup</legend>

    <div class="form-group">
      <label>Name:</label>
      <input type="text" name="name" class="form-control" placeholder="Enter your first name or nickname here">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter your email address" ng-model="user.email">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" placeholder="********" ng-model="user.password">
    </div>
    <div class="form-group">
      <label>Class:</label>
      <select ng-model="user.roomName" class="form-control">
        <option value="WDI">WDI</option>
        <option value="UXDI">UX</option>
        <option value="DSI">DSI</option>
        <option value="ADI">ADI</option>
        <option value="iOSDI">iOSDI</option>
      </select>
    </div>
      <button type="submit" class="btn btn-primary">Signup</button>
  </form>
  </div>
</div>