<div class="col-xs-6 col-xs-offset-3 container">
	<h1>WDI</h1>
	<div class="form-group">
	  <label for="search">Search:</label>
	  <input type="text" class="form-control" id="search" ng-model="search">
	</div>
	<div ng-if="note.roomName == 'WDI'" class="well" ng-repeat="note in notes | filter: search track by note._id">
	  <div>
	    <h1>{{note.noteTitle}}</h1>
	    <p>From <strong>{{note.roomName}}</strong><img class="icon" src="/img/WDI.png"></p>
	    <a ng-href="/notes/{{note._id}}">View Note</a>
	  </div>
	</div>
  <a href="/notes" class="btn siteBtn">Back</a>
</div>
